<div class="page-wrap">
  <div class="vend-container">
    <div class="vend-outer">
      <div class="return-box" id="return">
         {{ErrorMsg}}  
        <div *ngFor="let curr of returnChange">
          <div *ngIf="curr.Count>0">
          {{curr.Denomination}}&cent; : {{curr.Count}}  
          </div>
        </div>
      </div>
      <div class="display-box" id="displayBox">
      </div>
       <div class="pay-box" id="pay">       
      </div>
      <div class="pay-box" id="pay">
        ${{InsertedAmountString}}
      </div>
      <div id="sodaCount" class="soda-count">
        <table>
          <tr *ngFor="let curr of CashRegister">
          <td>
          {{curr.Denomination}}&cent; : {{curr.Count}}
        </td>
        </tr>
        </table>
      </div>
     
      <div class="coin-box">
        <div class="coin-outter" id="ten" (click)="SaveInsertedAmount(5)">
          <p class="coin">5&cent;</p>
        </div>
        <div class="coin-outter" id="twentyFive" (click)="SaveInsertedAmount(10)">
          <p class="coin">10&cent;</p>
        </div>
        <div class="coin-outter" id="twentyFive" (click)="SaveInsertedAmount(25)">
          <p class="coin">25&cent;</p>
        </div>
        <div class="coin-outter" id="twentyFive" (click)="SaveInsertedAmount(100)">
          <p class="coin">1$</p>
        </div>
      </div>
      <div class="vend-back">
        <div class="product-row" *ngFor="let item of Inventory">
          <div class="soda-box pepsi-box" id="pepsiBox">
            <div class="soda pepsi" id="pepsi">
              
            </div>
          </div>
          <div class="price-box pepsi-price">
            <p>${{item.itemcost}}</p>
          </div>
          <div class="tag tag-one">
            <p>{{item.itemdesc}} ({{item.itemcode}})</p>
          </div>
          <div class="spiral">
            <div class="inner-spiral">
              <div class="inner-spiral">
                <p class="soda-text"> <img [src]="item.image"  height="50" width="30"></p>
              </div>
            </div>
          </div>
         <div class="spiral">
            <div class="inner-spiral">
              <div class="inner-spiral">
                <p class="soda-text"> <img [src]="item.image"  height="50" width="30"></p>
              </div>
            </div>
          </div>
          <div class="spiral">
            <div class="inner-spiral">
              <div class="inner-spiral">
                <p class="soda-text"> <img [src]="item.image"  height="50" width="30"></p>
              </div>
            </div>
          </div>
          <div class="spiral">
            <div class="inner-spiral">
              <div class="inner-spiral">
                <p class="soda-text"> <img [src]="item.image"  height="50" width="30"></p>
              </div>
            </div>
          </div>
        </div>
       
        <div class="vend-glass"></div>
      </div>
      <div class="touch-pad">
        <div class="button" *ngFor="let item of Inventory" (click)="SelectedItem(item)">
          <p>{{item.itemcode}}</p>
        </div>
      </div>
     

      <div class="grab-box">              
        <p *ngIf ="selectedItem" class="itemdispensed"> <img [src]="selectedItem?.image"  height="50" width="30"></p>
      </div>
    </div>
  </div>
</div>
